<div class="container portfolio">

    <div class="row">

        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img3.jpg" alt="flower" />
                <figcaption>Roses</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img5.jpg" alt="butterfly" />
                <figcaption>Blue butterfly</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img6.jpg" alt="Girl" />
                <figcaption>Art Girl</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img7.jpg" alt="Landscape" />
                <figcaption>Landscape</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img8.jpg" alt="Winter View" />
                <figcaption>Winter View</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img9.jpg" alt="Red forest" />
                <figcaption>Red forest</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img10.jpg" class="img-fluid" alt="tree" />
                <figcaption>Tree</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img11.jpg" alt="Chilly" />
                <figcaption>Chilly</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img12.jpg" alt="art" />
                <figcaption>Art</figcaption>
            </figure>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>