<div class="container2">

    <div class="row">

        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img4.jpg" alt="Wires" />
                <figcaption>Wires</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img5.jpg" alt="Sheep" />
                <figcaption>Sheep</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="" src="img/img6.jpg" alt="Sunset" />
                <figcaption>Sunset</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img7.jpg" alt="Eiffel Tower" />
                <figcaption>Eiffel Tower</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img8.jpg" alt="Building" />
                <figcaption>Building</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img9.jpg" alt="Church" />
                <figcaption>Church</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img10.jpg" class="img-fluid" alt="Bird" />
                <figcaption>Bird</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img11.jpg" alt="Chipmunk" />
                <figcaption>Chipmunk</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img12.jpg" alt="Cheetah" />
                <figcaption>Cheetah</figcaption>
            </figure>
        </div>
    </div>

</div>